<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('./bootstrap/link-bootstrap') -%>
  <%- include ('./bootstrap/script-bootstrap') -%>
  <%- include ('./components/nav') -%>
</head>
<body>
  <div class="container d-flex flex-wrap justify-content-center ">
  <% if(blogs.length) { %>
    <% blogs.forEach(function(blog) { %>
      <div class="card mx-4 my-4" style="width: 18rem;">
        <img src="<%= blog.coverImage %>" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= blog.title %></h5>
          <p class="card-text text-truncate"><%= blog.content %></p>
          <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
        </div>
      </div>
    <% }) %>
  <% } %>
  </div>
</body>
</html>
